<!DOCTYPE html>

<html lang = "en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/./style.css"> 
  </head>
  <div class = "container">
    <h4>
    TimeStamp Microservice
  </h4>
    <ol>
      <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix
                timestamp or a natural language date (example: January 1, 2018)</li>
      <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
      <li>If it does not contain a date or Unix timestamp, it returns <code>null</code> for those properties.</li>
    </ol>
    <h4>
      Example Usage:
      <code>https://freckle-trick.glitch.me/1450137600</code>
    </h4>
  </div>
</html>